body {
    background-color: #DAF6CE;
    margin: 50px 20px 50px 20px;
}
/* header*/
.menu {
    display: flex;
    justify-content: space-between;
    height: 50px;
    margin: 30px 0 0 70px;

}
.rubriques, ul {
display: flex;
justify-content: space-around;
flex-direction: row;
list-style: none;
width: 600px;
margin: 30px 40px 0 0;
font-family: 'Bellefair', serif;
}
.title {
    font-family:  'Bellefair', serif;
    font-size: 50px;
}
.blockimg {
    display: flex;
    margin-top: 150px;
    margin-bottom: 150px;
    padding-left: 15px;    
}
.image:hover {

  
    
    
}
.imgtwo {
   
   
}
.imgthree {
   
    
}
.imgfour {
    
   
}

.imagone {
height: 600px;
}

.imagtwo {
border: none;
display: block;
}
.imagthree {
border: none;
display:block;
}
/*
.content {

    position: relative;
    left: 177px;
    bottom: 300px;
    color:white;
    font-family: 'Bellefair', serif;
    
}
.contenttwo {
position: relative;
left: 198px;
bottom: 470px;
color:white;
font-family: 'Bellefair', serif;

}
.contentthree {
    position: relative;
    left: 198px;
    bottom: 173px;
    color:white;
    font-family: 'Bellefair', serif;
    

}*/


/* partie About*/
.titre {
font-size: 10px;
font-family: 'Bellefair', serif;
color: black; 
border-top: 1px solid white;
border-bottom: 1px solid white;
text-align: center;
margin: 0 500px 70px 500px;
}
.paragraph {
font-size: 22px;
font-family:'Bellefair', serif;
color: black;
text-align: center ;
padding: 0 130px 0 130px;
margin: 50px 0 70px 0;
} 

/* pied de page */
footer::before {
    display: block;
    height: 2px;
    background-color: white;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 100px;
}
.foot {
    display: flex;
    justify-content: space-around;
    margin: 100px 0 50px 0;
}
.text {
font-family: 'Bellefair', serif;

}
.facebook {
    width: 30px;
    height: 30px;
}
ul, a {
    text-decoration: none;
    color: black;
    outline: none;
}

